{% extends 'customer/home.html' %}
{% load static %}
{% block title %}
- Rental Cars
{% endblock %}

{% block content %}

  <div class="container">
      <div class="row mt-5" >
          <div class="col">
              <nav aria-label="breadcrumb"  class="bg-light rounded-3 p-3 mb-4">
                  <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-decoration-none">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Rent Cars</li>
                  <!-- <li class="breadcrumb-item "><form class="d-flex " role="search">
                    <input class=" form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form></li> -->
                  </ol>
                  
              </nav>
              
          </div>
      </div>
      <section>
          <div class="container mt-5 mb-5 ">
              <div class="row mb-5">
                {% for car in cars %}
                  <div class="col-lg-4 col-md-3 col-sm-2">
                    <div class="boxes">
                      <img src="{{ car.photo.url }}" class="img img-fluid" width="100%" height="600px" alt="Card Image">
                      <div class="card-content">
                        <div class="mb-3">
                          <h3 class="h3">{{ car.car_model.brands.brand }}</h3>
                        </div>
                        <div class="mb-3">
                          <h5 class="h5">{{ car.car_model.models }}</h5>
                        </div>
                        <div class="mb-3">
                          <p class="p text-wrap">{{ car.description }}</p>
                        </div>
                        <div class="mb-3">
                          <p class="p">Fuel : {{ car.fuel }} , {{ car.kilometer}}km without fuel</p>
                        </div>
                        <div class="mb-3">
                          <p class="p fw-bold">{{ car.price }}</p>
                        </div>
                        <div class="mb-3 mt-3 card-body">
                          
                          <a href="{% url 'bookings' car.id %}" class="btn btn-outline-success btn-lg"><i class="fa-solid fa-bookmark"></i> Book Now</a>
                        </div>
                      </div>
                    </div>
                  </div>  
                {% endfor %}
              </div>
          </div>
      </section>

  </div>



{% endblock %}
