{% extends 'admin/home.html' %}
{% block title %}
- User Details
{% endblock %}

{% block content %}
  
    <div class="container">
        <div class="row mt-5" >
            <div class="col">
                <nav aria-label="breadcrumb"  class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'adminhome' %}" class="text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Details</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- -->
        <div class="container mt-2">
          <div class="table-responsive">
            <table class="table table-hover text-wrap bg-light text-center  " >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Address</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Image</th>
                </tr>
              </thead>
              <tbody>
                {% for customer in customers %}
                  <tr>
                    <th scope="row">10{{ customer.c_user.id }}</th>
                    <td class="text-capitalize">{{customer.c_user.first_name}} {{customer.c_user.last_name}}</td>
                    <td>{{customer.c_user.username}}</td>
                    <td>{{customer.c_user.email}}</td>
                    <td>{{customer.address}}, {{customer.city}}, {{customer.state}}</td>
                    <td>{{customer.gender}}</td>
                    <td>
                      <img src="{{customer.photo.url}}" class="rounded" width="40" alt="Image">
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
          </div>
            
        </div>

    </div>

{% endblock %}
