{% extends 'index.html' %}
{% load static %}
{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<div class="container" >
    <div class="row mt-5" >
        <div class="col">
            <nav aria-label="breadcrumb"  class="bg-light rounded-3 p-3">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                </ol>
            </nav>
        </div>
    </div>
    
    <div class="row" style="margin-top: 2rem;">
        <div class="container-fluid">
            <div class="d-md-flex h-md-100 align-items-center">
                <!-- First Half -->
                <div class="col-md-6 p-0  h-md-100 loginarea bg-greyish">
                    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                        <div class="logoarea pt-5 pb-5">
                            <div class="mb-4 text-dark">
                                <h5>Forgot Password?</h5>
                                <p class="mb-2">Enter your registered User Name to reset the password</p>
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% for i in form %}
                                {{ i.label_tag }} {{ i }} <small class="text-danger">{{ i.errors | striptags }}</small>
                                <br>
                                {% endfor %}
                                <input type="submit" value="Submit" class="btn btn-primary"> <br>
                               
                                
                            </form>
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom"></div>
                            <div class="mt-2">
                                <p class="text-center text-wrap ">Hava an account ? <span><a href="{% url 'login' %}" class="text-decoration-none">Login</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second half -->
                <div class="col-md-6 p-0  h-md-100 bg-box">
                    <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                        <div class="logoarea pt-5 pb-5">
                            <img src="{% static 'images/Reset password-rafiki.png' %}" alt="Logo" class="img-fluid  "  width="500" >
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}