{% extends 'index.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}
   
{% block content %}

    

<div class="container" >
    <div class="row mt-5" >
        <div class="col">
            <nav aria-label="breadcrumb"  class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
    </div>

    {% include 'include/message.html' %}

    <div class="row" style="margin-top: 2rem;">
        <div class="container-fluid">
            <div class="d-md-flex h-md-100 align-items-center">
                <!-- First Half -->
                <div class="col-md-6 p-0  h-md-100 bg-box">
                    <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
                        <div class="logoarea pt-5 pb-5">
                            <img src="{%static 'images/Mobile login-rafiki.png' %}" alt="Logo" class="img-fluid" width="500"  >
                        </div>
                    </div>
                </div>
                <!-- Second Half -->
                <div class="col-md-6 p-0  h-md-100  bg-greyish">
                    <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
                        <div class=" pt-5 pb-5">
                            <form action="{% url 'signin' %}" method="post" name="form" onsubmit="return validateLogin() " >
                                {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" name="username" id="username" class="form-control  fw-bold" placeholder="User Name" >
                                    <p id="name_error"></p>
                                </div>
                                <div class="mb-3">
                                    <input type="password" name="password" id="password" class="form-control   fw-bold" placeholder="Password" >
                                    <p id="password_error"></p>
                                </div>
                                <div class="mb-2 d-grid">
                                    <button type="submit" class="btn btn-primary justify-content-center">Login</button>
                                </div>
                            </form>
                            <div class="mt-3">
                                <p class="text-center text-wrap"><a href="{% url 'passwordReset' %}" class="text-decoration-none">Forget Password ?</a></p>
                            </div>
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-2  border-bottom"></div>
                            <div class="mt-2">
                                <p class="text-center text-wrap ">Don't hava an account ? <span><a href="{% url 'register' %}" class="text-decoration-none">Sign up</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>

<script src="{% static 'javascript/login.js' %}"></script>
{% endblock %}